.user-form {
  margin: auto;
  max-width: 500px;
  box-shadow: 0px 0px 10px rgb(175 175 175 / 23%);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.w-100{
  width: 100%;
}

.text-center{
  text-align: center;
}

.m-0{
  margin: 0;
}

.m-5 {
  margin: 5px !important;
}

.mb-5{
  margin-bottom: 10px;
}

h2.border{
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
}

.user-form > .MuiFormControl-root,
.user-form > .MuiButton-root {
  margin-bottom: 20px;
}

.d-flex{
  display: flex;
}

.title_div,
.value_div{
  width: 50%;
}

.action_btns > button {
  margin-left: 5px;
  margin-right: 5px;
}

@media all and (min-width: 480px) {
  .Login {
      padding: 60px 0;
  }

  .Login form {
      margin: 0 auto;
      max-width: 320px;
  }
}